//Background
$color-background:rgba(40,40,40,0.75);
$image-background:url("../images/backgrounds/background.jpg");
$color-submitbtn:rgb(255, 99, 71);


//Fonts
$mainfont-light:url("./../fonts/Montserrat-Light.ttf");
$mainfont-regular:url("./../fonts/Montserrat-Regular.ttf");
$mainfont-medium:url("./../fonts/Montserrat-Medium.ttf");
$mainfont-semibold:url("./../fonts/Montserrat-SemiBold.ttf");
$mainfont-bold:url("./../fonts/Montserrat-Bold.ttf");
