.container {
    max-width:500px;
}
.header {
    text-align: center;
}
input,textarea {
    width:100%;
    max-width: 100%;
    margin-top: 0rem;
}
.background_black {
    padding-top:70px;
}
.registration-form {
    padding:75px 0;
}
.registration-form__block {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.registration-form__row {
     display: flex;
     justify-content: space-between;
 }
.registration-form__row > .registration-form__point {
    margin-top: 0;
    width:48.5%;
}
.registration-form__point {
    width:100%;
    margin-top: 30px;
}
.registration-form__point textarea {
    resize: none;
    display: block;
    width:100%;
}
.registration-form__point:last-child {
    text-align: center;
}