.registration-form {
    padding:75px 0;
    color:white;
    &__header {
        font-size: 40px;
        text-align: center;
    }
    &__block {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__row  &__input {
        margin-top: 0;
        width:48.5%;
    }
    &__input {
        width:100%;
        margin-top: 30px;
        height: 45px;
        display: flex;
        justify-content: center;

        &_txtar {
            height:15rem;
        }
    }
}
