@import "src/common-css/scss-variables";




.personal-area {
    display: flex;
    height:100%;
    color:white;

    &__sidebar {
        width:25%;
        padding-left:30px;
        padding-top:20px;
    }

    &__content {
        width:75%;
        padding:40px 20px 0px 0px;
    }
}


.sidebar {
    display: flex;
    flex-direction: column;
    &__info {
        padding:20px 0 60px;
        display: flex;
        flex-direction: column;
    }
    &__image {
        width:33%;
        height:80px;
        border-radius: 50%;
        background-color:rgb(170,170,170)
    }
    &__name {
        margin-top: 10px;
        font-family: Montserrat-SemiBold;
    }
    &__location {
        font-size:13px;
        margin-top:5px;
        font-family: Montserrat-Medium;
    }
    &__nav {
        display: flex;
        flex-direction: column;
    }
    &__nav-item {
        padding:12px 0;
        text-decoration: none;
        color:white;
        cursor: pointer;
        user-select: none;
        &_paddleft {
            padding-left:35px;
        }
    }
    &__dropdown-content {
        display: none;
        overflow: hidden;
        & .sidebar__nav-item {
            display: block;
        }
    }
}

.content {
    &__block {
        padding:0 25px 20px;
        margin:50px 0;
        display: block;
        border-left:none;
        border-right:none;
        border-bottom: none;
        border-top:2px solid gold;
        &:nth-child(1) {
            margin-top: 0px;
        }
    }
    &__title {
        font-weight: 600;
        font-size:35px;
        margin-bottom: 30px;
        margin-left: -25px;
        padding-right:8px;
    }
    &__subtitle {
        font-weight: 400;
        font-size:25px;
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__point {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        &_full {
            width:100%;
        }
        &_half {
            width:50%;
        }
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    &__label {
        font-family: Montserrat-SemiBold;
        font-size:24px;
    }
    &__value {
        font-size:18px;
        margin-top:10px;
        line-height: 1.5;
        &_paddleft {
            padding-left:25px;
        }
    }

    &__companylinks {
        margin-top: 30px;
    }
}








.password  {
    display: flex;
}
.password .button:nth-child(2) {
    margin-left: auto;
}


.button-container {
    display: flex;
    justify-content: flex-end;

    &_mrgtop {
        margin-top: 30px;
    }
}


.button {
    color:white;
    background-color:transparent;
    cursor: pointer;
    border:1px solid white;
    transition: all 0.2s linear;

    &:hover {
        background-color: white;
        color:black;
    }

    &_inline {
        font-size:13px;
        font-weight: 400;
    }

    &_large {
        padding:13px 30px;
        font-size:16px;
    }

    &_noleftbrd {
        border-left: none;
    }
}

